/Lib/
/Temp/
/Examples/Debug/
/Examples/Release/
/Docs/build/
/Docs/doxygen/
generated/
bin/
obj/
_ReSharper*/
.vs/
*.pidb
*.userprefs
*.suo
*.user
*.bak
.leu
UpgradeLog.htm
*.orig*
.lfsconfig
*.htm
msbuild*.log
